:root {
  --night: #061e25;
  --blue: cornflowerblue;
  --text: rgb(208, 208, 208);
  --main-max-width: 55em;
  color-scheme: dark;

  --github-corner-color: var(--night);
  --github-corner-bg: white;

  --nav-link-active-color: var(--blue);
  --footer-bg: #00061a;
  --footer-nav-margin: 2em;
  --toc-mobile-bg: #0d1a1d;
  --toc-mobile-shadow: 0 0 1em 0 black;
  --toc-active-border: solid var(--blue);
  --toc-active-border-width: 0 0 0 2pt;
  --page-search-highlight-bg: #806300;
  --page-search-highlight-color: #fff3ba;
}
body {
  background: var(--night);
  font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
  color: var(--text);
  line-height: 1.5;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  padding: calc(1ex + 2vw);
  box-sizing: border-box;
  width: 100%;
  max-width: var(--main-max-width);
}
a {
  color: var(--blue);
  text-decoration: none;
  transition: 0.2s;
}
a:hover {
  color: orange;
}
code {
  overflow-wrap: break-word;
  padding: 1pt 3pt;
  border-radius: 2pt;
  font-size: 1.2em;
  background-color: rgba(0, 255, 255, 0.1);
}
pre code {
  background-color: transparent;
  display: inline-block;
}
pre {
  position: relative;
  border-radius: 4pt;
  background-color: rgba(255, 255, 255, 0.05);
  overflow-x: auto;
  padding: 6pt 8pt;
  margin: 1em auto;
}
ul {
  padding-left: 1em;
}
label {
  font-weight: bold;
  cursor: pointer;
}
table {
  border-collapse: collapse;
  width: 100%;
}
table :is(td, th) {
  border: 1px solid gray;
  padding: 5pt 9pt;
}
img {
  max-width: 100%;
}
tbody tr:nth-child(odd) {
  background: black;
}
h1 {
  text-align: center;
}
.hide-in-docs {
  display: none;
}
/* :where() for zero specificity so page-specific styles can override */
:where(h2, h3, h4, h5, h6) {
  scroll-margin-top: 50px;
  transition: 0.3s;
}
:is(h2, h3, h4, h5, h6):is(:target, .toc-clicked) {
  color: orange;
}
:is(h2, h3, h4, h5, h6) a[aria-hidden='true'] {
  transition: 0.3s;
  margin-left: 4pt;
  opacity: 0;
}
:is(h2, h3, h4, h5, h6):hover a[aria-hidden='true'] {
  opacity: 1;
}
blockquote {
  border-left: 3pt solid var(--blue);
  padding: 4pt 2pt 4pt 9pt;
  margin: 1em auto;
  background-color: rgba(255, 255, 255, 0.1);
}
blockquote p:last-child {
  margin-bottom: 0;
}
blockquote p:first-child {
  margin-top: 0;
}
caption {
  display: block;
}
nav.site-nav {
  align-self: center;
  margin: 1.5em 0 0.5em;
}
footer strong {
  font-size: 20px;
  vertical-align: 16px;
}
::highlight(highlight-match) {
  background: var(--page-search-highlight-bg);
  color: var(--page-search-highlight-color);
}
