name: SVG Compression

on:
  pull_request:
    branches:
      - master
    paths:
      - '**.svg' # only run workflow when SVG files changed

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Set up node
        uses: actions/setup-node@v2

      - name: Install SVGO
        run: |
          npm -g svgo

      - name: Compress SVG assets and commit to current PR
        run: |
          svgo assets
          git add assets/*.svg
          git commit -m 'compress SVG assets'
