name: Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  release:
    types: [published]

jobs:
  tests:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    env:
      MPLBACKEND: Agg  # https://github.com/orgs/community/discussions/26434

    steps:
      - name: Check out repo
        uses: actions/checkout@v3

      - name: Set up python
        uses: actions/setup-python@v3
        with:
          python-version: 3.8
          cache: pip
          cache-dependency-path: setup.cfg

      - name: Install dependencies
        run: pip install .[test]

      - name: Run tests
        id: tests
        run: pytest --cov .

      - name: Build and upload dist
        if: github.event_name == 'release' && steps.tests.outcome == 'success' && runner.os == 'Linux'
        run: |
          pip install setuptools wheel twine
          python setup.py sdist bdist_wheel
          twine upload --skip-existing dist/*.tar.gz
        env:
          TWINE_USERNAME: janosh
          TWINE_PASSWORD: ${{ secrets.TWINE_PASSWORD }}
