name: Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  pytest:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repo
        uses: actions/checkout@v3

      - name: Set up python
        uses: actions/setup-python@v3
        with:
          python-version: 3.8
          cache: pip
          cache-dependency-path: setup.cfg

      - name: Install dependencies
        # [test]: see options.extras_require in setup.cfg
        run: pip install .[test]

      - name: Run tests
        run: pytest --durations 0 --cov pymatviz
